@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 
.gift-photo {
  background-image: url("/gift_with_tree.jpg");
  background-size: cover;
  background-position: center;
}

.display-background {
  background-image: url("/displayBackground.avif");
  background-size: cover;
  background-position: center;
}

.gift-box {
  background-image: url("/GiftBox.avif");
  background-size: cover;
  background-position: center;
}

.gift-border {
  background-image: url("/gift_box_border.jpg");
  background-size: cover;
  background-position: center;
}

.sideways-pine-border {
  background-image: url("/sideways_pine.jpg");
  background-size: cover;
  background-position: center;
}

.brown-giftbox {
  background-image: url("/brown_giftbox.avif");
  background-size: cover;
  background-position: center;
}

.wishlist {
  background-image: url("/christmas-list.avif");
  background-size: cover;
  background-position: center;
}



